*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:100%;
    min-height:100vh;
    background:#f4f4f4;

    display:flex;
    justify-content:center;
    align-items:center;
}

.loginBox{
    width:1200px;
    height:730px;
    background:#fff;

    display:flex;
    overflow:hidden;
}

.left{
    flex:1;
    background:#d2b18b;

    display:flex;
    justify-content:center;
    align-items:center;
}

.left img{
    width:85%;
    object-fit:contain;
}

.right{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.form{
    width:430px;

    display:flex;
    flex-direction:column;
}

.form h1{
    font-size:58px;
    font-weight:700;
    margin-bottom:12px;
}

.text{
    margin-bottom:35px;
    color:#555;
}

.text a{
    color:#4f83ff;
    text-decoration:none;
}

.input{
    width:100%;
    height:58px;

    margin-bottom:18px;

    border:1px solid #d9d9d9;
    border-radius:12px;

    padding:0 20px;

    font-size:16px;
}

.input:focus{
    outline:none;
    border-color:#1d2b4f;
}

.button{
    margin-top:20px;

    width:100%;
    height:60px;

    border:none;
    border-radius:40px;

    background:#1c2d52;
    color:white;

    font-size:24px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.button:hover{
    background:#13203d;
}